<launch>
    <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen">
        <param name="port" value="/dev/gps"/>
        <param name="baud" value="9600" />
        <param name="frame_id" value="gps" />
        <param name="use_GNSS_time" value="False" />
        <param name="time_ref_source" value="gps" />
        <param name="useRMC" value="True" />
    </node>
</launch>

